/* Big Tablets: from 1024px to 1200px */
@media only screen and (max-width: 1200px) {
    .hero-text-box{
        width: 100%;
        padding: 0 2%; 
    }

    .row{padding: 0 4%;}
}

/* Tablets: from 768px to 1023px */
@media only screen and (max-width: 1100px) {
    body {
        font-size: 18px;
    }

    h3 {
        font-size: 110%;
    }
     
    section {
        padding: 60px 0;
    }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .contact-form {
        width: 80%;
    }

    .icon-big {
        font-size: 150%;
        margin-bottom: 0;
    }
    .about-row-heading i {
        margin-right: 0;
    }
}

@media only screen and (max-width: 900px) {
    h3 {
        font-size: 100%;
    }
}

/* Larger phones: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    section {
        padding: 30px 0;
    }

    h3{
        font-size: 110%;
    }

    .section-header {
        text-align: center;
    }

    .section-header:after {
        margin: 0 auto;
        margin-top: 5%;
        width: 30%;
    }

    .sub-about-heading, .sub-about-content{
        text-align: center;
        margin: 0 20%;
    }

    .about-row-heading{
        justify-content: center;
    }

    .row,
    .hero-text-box {
        padding: 0 4%;
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
    
    .main-nav {
        display: none;
    } 

    .mobile-nav-icon {
        display: inline-block;
    }

    .main-nav {
        float: left;
        margin-top: 35px;
        margin-left: 25px;
    }

    .main-nav li {
        display: block;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 6px 0;
        font-size: 100%;
    }

    .sticky .main-nav {
        margin-top: 10px;
    }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        padding: 10px 0;
    }

    .sticky .mobile-nav-icon {
        margin-top: 15px;
    }

    .sticky .mobile-nav-icon i {
        color: #555555;
    }

    .sticky .logo {
        display: none;
    }

    .sticky .logo-black {
        display: block;
    }

    .logo {
        height: 40px;
    }
    
    h1 {
        font-size: 180%;
    }
    
    h2 {
        font-size: 150%;
    }

    .social-links-header li {
        display: block;
        margin: 0;
        margin-top: 10px;
    }

    .social-links li {
        display: inline-block;
        /* margin: 0; */
        margin-top: 10px;
    }
    
    .desc {
        margin-bottom: 50px;
    }

    footer .col {
        display: flex;
        justify-content: center;
    }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    section {
        padding: 45px 0;
    }
    
    .section-features .long-copy{
        line-height: 200%;
    }

    .contact-form {
        width: 100%;
    }
    .btn:link, .btn:visited, input[type=submit] {
        margin: 0;
        width: 60%;
        margin-bottom: 10px;
    }

    .main-techs img {
        width: 17%;
    }
    
    .secondary-techs img{
        width: 10%;
    }

    .secondary-techs{
        margin-top: 35px;
    }

    .third-techs img {
        width: 9%;
    }

    .third-techs {
        margin-top: 30px;
    }
}
